@charset "utf-8";
/* CSS Document */

body{
	background-image: url(slike/pozadina.jpg);
	background-size: cover;
}

h1 {
	font-family: "Verdana", "Monaco", "serif";
	font-size: 40px;
	color: rgb(170, 100, 130);
	-webkit-text-stroke: 0.7px white;
}

h2 {
	font-family: "Verdana", "Monaco", "serif";
	color: rgb(170, 100, 130);
	-webkit-text-stroke: 0.3px white;
}

p {
	color: white;
	font-family: "Garamond", "Monaco", "serif";
	font-size: 20px;
	line-height: 40px;
	margin: 10px;
	background: rgba(170, 100, 130, 0.6);
}

nav {
	color: white;
	font-family: "Garamond", "Monaco", "serif";
	font-size: 20px;
	line-height: 20px;
	background: rgba(230, 160, 180, 0.3);
	margin: 10px;
}

blockquote {
	color: white;
	font-family: "Garamond", "Monaco", "serif";
	font-size: 20px;
	line-height: 20px;
	background: rgba(230, 160, 180, 0.3);
	margin: 10px;
}

a {
	color: lightblue;
}

img {
	border: 3px solid rgb(170, 100, 130);
	margin: 5px;

}

video {
	border: 3px solid rgb(170, 100, 130);)
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}